<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.demo_backend.mapper.DiaryMapper">
    <!--단일 일기장 작성하기 -->
    <insert id="insertDiary">
        INSERT INTO diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userSqno != null">user_sqno,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="tag1 != null and tag1 != ''">tag1,</if>
            <if test="tag2 != null and tag2 != ''">tag2,</if>
            <if test="tag3 != null and tag3 != ''">tag3,</if>
            <if test="diaryStatus != null">diary_status,</if>
            <if test="frstRegIp != null">frst_reg_ip,</if>
            <if test="frstRgstUspsSqno != null">frst_rgst_usps_sqno,</if>
            reg_dt,
            <if test="author != null">author,</if>
            <if test="emotion != null">emotion</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userSqno != null">#{userSqno},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="tag1 != null and tag1 != ''">#{tag1},</if>
            <if test="tag2 != null and tag2 != ''">#{tag2},</if>
            <if test="tag3 != null and tag3 != ''">#{tag3},</if>
            <if test="diaryStatus != null">#{diaryStatus},</if>
            <if test="frstRegIp != null">#{frstRegIp},</if>
            <if test="frstRgstUspsSqno != null">#{frstRgstUspsSqno},</if>
            NOW(),
            <if test="author != null">#{author},</if>
            <if test="emotion != null">#{emotion}</if>
        </trim>
    </insert>


    <!-- updateDiaryDel 일기 삭제 -->
    <update id="updateDiaryDel">
        UPDATE diary
        SET del_yn = 'Y',
        del_dt = NOW(),
        last_updt_ip = #{lastUpdtIp},
        last_updt_usps_sqno = #{lastUpdtUspsSqno}
        WHERE diary_id IN
        <foreach collection="diaryRemoveList" item="diary" open="(" separator="," close=")">
            #{diaryId}
        </foreach>
        <if test="userSqno != null">
            AND user_sqno = #{userSqno}
        </if>
    </update>

    <!--  일기 목록  조회 가능 -->
    <select id="selectDiaryList" resultType="com.domain.demo_backend.diary.dto.DiaryResponse">
        SELECT
            d.user_sqno    AS userSqno,
            d.title,
            d.content,
            d.tag1,
            d.tag2,
            d.tag3,
            d.emotion,
            d.diary_status AS diaryStatus,
            d.del_yn       AS delYn,
            d.reg_dt       AS date,
            IF(u.delYn = 'Y', '탈퇴한 회원', d.user_id) AS userId,
            IF(u.delYn = 'Y', '탈퇴한 회원', u.username) AS username,
            IF(u.delYn = 'Y', '탈퇴한 회원', u.nickname) AS nickname,
            IF(u.delYn = 'Y', '탈퇴한 회원', d.author) AS author
        FROM diary d
            LEFT JOIN users u ON d.user_sqno = u.user_sqno
        WHERE d.del_yn = 'N'
          AND (#{userId} IS NULL OR #{userId} = '' OR d.user_id = #{userId})
        ORDER BY d.reg_dt DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>


    <!-- selectDiaryItem : 일기 상세 보기-->
    <select id="selectDiaryItem" parameterType="map" resultType="com.domain.demo_backend.diary.dto.DiaryResponse">
        SELECT
            d.diary_id     AS diaryId,
            d.user_sqno    AS userSqno,
            d.title,
            d.content,
            d.tag1,
            d.tag2,
            d.tag3,
            d.emotion,
            d.diary_status AS diaryStatus,
            d.del_yn       AS delYn,
            d.reg_dt       AS date,
            IF(u.delYn = 'Y', '탈퇴한 회원', d.user_id) AS userId,
            IF(u.delYn = 'Y', '탈퇴한 회원', u.username) AS username,
            IF(u.delYn = 'Y', '탈퇴한 회원', u.nickname) AS nickname,
            IF(u.delYn = 'Y', '탈퇴한 회원', d.author) AS author
        FROM diary d
            LEFT JOIN users u ON d.user_sqno = u.user_sqno
        WHERE d.diary_id = #{diaryId, jdbcType=BIGINT}
          AND d.user_id = #{userId}
          AND (d.del_yn = 'N' OR d.del_yn IS NULL)
    </select>




</mapper>