<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.demo_backend.mapper.DiaryMapper">
    <!--단일 일기장 작성하기 -->
    <insert id="insertDiary">
        INSERT INTO diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userSqno != null">user_sqno,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="tag1 != null">tag1,</if>
            <if test="tag2 != null">tag2,</if>
            <if test="tag3 != null">tag3,</if>
            <if test="diaryStatus != null">diary_status,</if>
            <if test="frstRegIp != null">frst_reg_ip,</if>
            <if test="frstRgstUspsSqno != null">frst_rgst_usps_sqno,</if>
            reg_dt,
            <if test="author != null">author,</if>
            <if test="emotion != null">emotion</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userSqno != null">#{userSqno},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="tag1 != null">#{tag1},</if>
            <if test="tag2 != null">#{tag2},</if>
            <if test="tag3 != null">#{tag3},</if>
            <if test="diaryStatus != null">#{diaryStatus},</if>
            <if test="frstRegIp != null">#{frstRegIp},</if>
            <if test="frstRgstUspsSqno != null">#{frstRgstUspsSqno},</if>
            NOW(),
            <if test="author != null">#{author},</if>
            <if test="emotion != null">#{emotion}</if>
        </trim>
    </insert>


    <!-- updateDiaryDel 일기 삭제 -->
    <update id="updateDiaryDel">
        UPDATE diary
        SET del_yn = 'Y',
        del_dt = NOW(),
        last_updt_ip = #{lastUpdtIp},
        last_updt_usps_sqno = #{lastUpdtUspsSqno}
        WHERE diary_id IN
        <foreach collection="diaryRemoveList" item="diary" open="(" separator="," close=")">
            #{diaryId}
        </foreach>
        <if test="userSqno != null">
            AND user_sqno = #{userSqno}
        </if>
    </update>

    <!--  일기 목록  조회 가능 -->
    <select id="selectDiaryList" resultType="com.domain.demo_backend.diary.dto.DiaryResponse">
        SELECT diary_id     AS diaryId,
               user_id      AS userId,
               user_sqno    AS userSqno,
               author,
               title,
               content,
               tag1,
               tag2,
               tag3,
               emotion,
               diary_status AS diaryStatus,
               del_yn       AS delYn,
               reg_dt AS date
        FROM diary
        where del_yn = 'N'
          AND (#{userId} IS NULL OR #{userId} = '' OR user_id = #{userId})
        ORDER BY reg_dt DESC
    </select>


    <!-- selectDiaryItem : 일기 상세 보기-->
    <select id="selectDiaryItem" parameterType="string" resultType="com.domain.demo_backend.diary.dto.DiaryResponse">
        SELECT
        diary_id AS diaryId,
        user_id AS userId,
        user_sqno AS userSqno,
        title,
        content,
        diary_status AS diaryStatus,
        reg_dt AS regDt,
        tag1,
        tag2,
        tag3,
        emotion
        FROM diary
        WHERE diary_id = #{diaryId}
        AND user_id = #{userId}
        AND del_yn = 'N'
    </select>

</mapper>
