HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

application.properties

### VS Code ###
.vscode/

/logs/application.log
/src/main/resources/application.properties
/logs/application-2024-12-30.log
/logs/application-2024-12-31.log
/logs/application-2025-01-01.log
/logs/application-2025-01-02.log
/logs/application-2025-01-04.log
/logs/application-2025-01-05.log
/logs/application-2025-01-06.log
/logs/application-2025-01-07.log
/logs/application-2025-01-10.log
/logs/application-2025-01-11.log
/logs/application-2025-01-12.log
/logs/application-2025-01-18.log
